/* header */
.bg-blue{
    background-color: #3a546d;
}

/* jumbo */
.jumbotron{ 
    border: 1px solid green;
}

.jumbrotron-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    min-height: 500px;
}

#image-profile{
    height: 300px;
    width: 300px;
}

/* image */


/* about */
.container-small{
    width: 60%;
    margin: 0 auto;
    border: 1px solid green;
}

/* footer */


.image{
    height: 300px;
}

.h-header{
    height: 50px;
}


#contact-me .form-control{
    border-radius: 0;
    border-width: 0 0 1px 0;
}
