/* header */
header{
    border: 1px solid red;
    min-height: 100px;
}

/* jumbo */
.jumbotron{ 
    min-height: 500px;
    border: 1px solid green;
}

.jumbrotron-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    min-height: 500px;
}

/* image */
[class^='col']{
    background-color: #dedede;
    border: 1px solid black;
}

/* about */
.container-small{
    width: 60%;
    margin: 0 auto;
    border: 1px solid green;
}

/* footer */


.image{
    height: 300px;
}

.h-header{
    height: 50px;
}

