/* header */
.bg-blue{
    background-color: #3a546d;
}

/* jumbo */
#image-profile{
    height: 300px;
    width: 300px;
}

.separator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.linea{
    flex-basis: 50px;
    margin: 0 20px;
    background-color: #fff;
    height: 3px;
}



/* image */

.container{
    border: 1px solid red;
}

/* about */
.container-small{
    width: 60%;
    margin: 0 auto;
    border: 1px solid green;
}

/* footer */





#contact-me .form-control{
    border-radius: 0;
    border-width: 0 0 1px 0;
}
